*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 200;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 8rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
}

.card-body {
    height: 6rem;
}

.card-footer {
  text-align: center;
  background: none;
  margin: 0 auto;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: none;
  height: 2px;
  padding: 0.5rem;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #f9fbfd;
  background-color: #FF6600;
  border-color: #FF6600;
}

.btn:hover {
    color: #f9fbfd;
    background-color: #FF9900;
    border-color: #FF9900;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
